@charset "UTF-8";

#wrap{
	width: 82em; 
	height: 500px;
	margin: 7px auto;
	position: relative;
	color: #363636;
}

img{
	height: 250px; width: 350px;
}

#center{
	/* background: cyan; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 500px;
}

