@charset "UTF-8";

#wrap{
	width: 82em; 
	height: 1150px;
	margin: 7px auto;
	position: relative;
	color: #363636;
}

#box{
	width: 63em; height: 60em;
/* 	border: 1px solid gray; border-radius: 5px; */
	font-size: 10pt; 
	position: absolute;
	top: 0px; left: 20em;
	margin: 60px auto 0px;
}



.row{
	width: 100%;
	/* height: 200px; *//* 임시 특졀한 값이 없는 친구들은
	다 이걸로 통일.  */
}

.blockOdd{
	/* float: left; */
	width:20%;
	text-align: center;
}

.blockEven{
	/* float:right; */
	width:79%;
	text-align: center;
}

.blockEven>form>input{
	width: 38.5em;
	padding: 2px 3px;
	margin: 0;
	height: 20px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
}


#registerBox:after{
	/* clear: both; */
}

#row0{
	height: 50px;
}


#block1{
	font-size: 20pt; font-weight: bold;
	display: inline-block;
	padding-top: 14px;
}

#block2{
	color: #828282;
	display: inline-block;
	font-size: 10pt;
	float: right;
	padding-top: 20px;
}

#row0+hr{
	background-color: #fa5c27;
	height: 10px;
	border:none;
}

#row0:after{
	clear:right;
}


sup{
	color:red;
	font-size: 9pt; font-weight: bold;
}


.row{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}



#row1{
	height: 50px;
	margin-top: 20px;
}

#block3{}

#block4>form>input{
/* 	position: relative;
	top: 6px; */
}


#row2{
	height: 60px;
	margin-top: 20px;
}

/* #block6{
	padding-top: 5px;
} */

#block6>p,
#block10>p{
	position: relative;
	left: 380px;
	font-size: 9pt;
	width: 200px;
}


#row3{
	height: 100px;
	margin-top: 20px;
}

#block7{
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
}

#block7>div:first-child{
	margin-bottom: 12px;
}

#block8{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 10px;
}

#block8>div:first-child{
	margin-bottom: 8px;
}

#block8>div>form>input{
	width: 15em;
	padding: 2px 3px;
	margin: 0 50px 0 70px;
	height: 20px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
}

#block8>div>form>label{
	font-size: 9pt;
}


#row4{
	height: 50px;
	margin-top: 20px;
}

#row5{
	height: 120px;
	margin-top: 20px;
}


#block12>form>input:first-child{
	width: 20em;
} 

#addressButton{
	margin-right: 158px;
	padding: 2px 4px;
	font-family:'Noto Sans KR';
	background: #fa5c27;
	color: white;
	border: none;
	cursor: pointer;
}

#block12>form>input{
	margin-bottom: 3px;
}

/* #block8>form>input,
#block16>form>input{
	margin-bottom: 3px;
} */





/* #block14{
	text-align: left;
} */


#phFirst{
	width: 12.7em;
	display: inline-block;
	margin: 0;
	padding: 2px 3px;
	height: 25px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
	font-size: 9pt;
	color: #363636;
}

#row6{
	height: 50px;
	margin-top: 20px;
}

#block14>form>input{
	display: inline-block;
	width: 12em;
}


#row7{
	height: 50px;
	margin-top: 20px;
}

#emails{
	width: 200px;
	display: inline-block;
	margin: 0;
	margin-right: 141px;
	padding: 2px 3px;
	height: 26.5px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
	font-size: 9pt;
	color: #363636;
}

#block16>form>input{
	width: 150px;
}

#row8{
	height: 50px;
	margin-top: 20px;
}

#row9{
	height: 60px;
	margin-top: 20px;
}

#banks{
	width: 120px;
	display: block;
	margin-left: 71px;
	padding: 2px 1px;
	margin-bottom: 2px;
	height: 26.5px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
	font-size: 9pt;
	color: #363636;
}

#row10{
	height: 60px;
	margin-top: 20px;
}


#row10>form>input{
	padding: 2px 12px;
	font-family: 'Noto Sans KR';
	background: #fa5c27; color: white;
	font-size: 12pt; font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	top: 10px; left: 29em;
}

