@charset "UTF-8";

#wrap{
	margin: 50px auto 0;
	width: 82em; height: 600px;	
}

#leftDiv{
	width: 50%; height: 100%;
	background: white;
	background-size: 100% 100%;
	float: left;
	border: 1px #a2a2a2 solid;
	border-radius: 7px;
}

#rightDiv{
	width: 49.5%; height: 100%;
	background: white;
	float: left;
	border: 1px #a2a2a2 solid;
	border-radius: 7px;
}

.clearfix:after{
	clear: left;
}

#leftInner{
	width:90%; height: 90%;
	margin: 28px auto;
	overflow: auto;
}

.chatRoom{
	width: 97%; height: 20%;
	margin: 5px;
	background: white;	
	cursor: pointer;
}

.profileImg{
	width: 40px; height: 40px;
	border-radius: 50%;
	position: relative;
	top: 10px; left: 20px;
}

.nickname{
	overflow: hidden;
	width: 200px;
	position: relative;
	top: -28px; left: 70px;
	font-size: 13pt; font-weight: bold;
}

#topLineImg{
	width: 42px; height: 42px;
	border-radius: 50%;	
	display: inline-block;
	float: left;
	position: relative;
	top: 9px;
}

#topLineNickname{
	float: left;
	display: inline-block;
	width: 300px; height: 30px;
	color: white;
	font-size: 15pt; font-weight: bold;
	margin-left: 25px;
	position: relative;
	top: 15px;
}

#topLine{
	width: 100%; height: 10%;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background: #fa5c27;
	padding-right: 0.5px;
}

#topLineBlock{
	width: 380px; height: 100%;
	margin-left: 200px;
}

#topLine:after{
	clear: left;
}

#chatWindow{
	width: 100%; height: 80%;
	background: white;
	padding-right: 0.5px;
	overflow: scroll;
}

#chatInput{
	width: 100%;
	height: 10%;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding-right: 0.5px;
	padding-bottom: 0.5px;
	vertical-align: middle;
}

#chatInput>img{
	width: 8%; height: 100%;
	border-bottom-left-radius: 7px;
	float: left;
}

#chatInput>input{
	padding: 2px 5px;
	border:0;
	width: 80%; height: 94%;
	float: left;
}

#chatInput>button{
	border-bottom-right-radius: 7px;
	width: 10.45%; height: 100%;
	border: none;
	cursor: pointer;
	background: #fa5c27;
	float:right;
}

#rightDiv:after{
	clear: both;
}