@charset "UTF-8";

#wrap{
	width: 82em; 
	height: 1800px;
	margin: 7px auto;
	position: relative;
	color: #363636;
}

.section{
	width: 95%; height: 24%;/*임시 높이  */
	margin: 10px auto;
}

#section1{
	border:1px #a2a2a2 solid;
	border-radius: 7px;
}

#section1>p{
	text-align: right;
	color: #818181;
	font-size: 9pt;
	margin-right: 4px;
}

#imgDiv{
	width: 30%; height: 90%;
	float: left;
	border-right: 1px #a2a2a2 solid;
	text-align: center;
}

#imgDiv>img{
	margin: 20px 12px;
}

#imgDiv>p{
	cursor: pointer;
	display: inline-block;
}

#merchDiv{
	width: 65%; height: 90%;
	float: right;
}

#merchName{
	font-size: 16pt; font-weight: bold;
	padding: 5px 0;
	margin: 20px 0;
}

#merchPrice{
	font-size: 16pt; font-weight: bold;
	padding: 5px 0;
}

#merchDiv>hr{
	border: 0;
	width: 800px;
	height: 1px;
	background: #a2a2a2;
	margin-right: 12px;
}

#merchStatus{
	margin: 20px 10px;
	height: 160px;
	font-size: 13pt;
}

#merchEtc{
	text-align: center;
}

button{
	background: #fa5c27;
	color: white;
	font-weight: bolder;
	font-size: 13pt;
	width: 100px; height: 40px;
	border: 0;
	cursor: pointer;
	font-family: 'Noto Sans KR';
	margin: 0 30px;
}

#section1:after{
	clear: both;
}

#section2{
	background: #fa5c27;
	color: white;
	height: 200px;/* 늘어날 수도 있다. */
}

#topFloor{
	font-size: 15pt; font-weight: bold;
	padding: 6px 7px;
}

#secondFloor{
	height: 78%;
}

.pName, .pStock{
	margin: 3px 20px;
}

.pName{
	float:left;
}

.pStock{
	float: right;
	width: 50%;
}

.newDiv:after{
	clear: both;
}


#section2>hr{
	border: 0;
	width: 97%;
	height: 1px;
	background: #a2a2a2;
	margin: 0px auto;
}

#section3{
	border:1px #a2a2a2 solid;
	border-radius: 8px;
}

#explanation{
	width: 98%; height: 95%;
	margin: 0 auto;
	position: relative;
	top: 10px;
}

#section4{
	height: 460px;
	border: 1px #a2a2a2 solid;
	border-radius: 7px;
}

#profileDiv{
	width: 20%; height: 95%;
	padding-left: 50px;
	margin: 10px 20px;
	float: left;
	
}

#twoDivs{
	float: right;
	width: 68%;
	height: 95%;
	margin: 10px 20px;
}

#productsDiv{
	height: 53%; 
}

#reviewDiv{
	height: 46%; 
}

#productsDiv>p{
	font-weight: bold;
	font-size: 14pt;
}

#reviewDiv>p{
	font-weight: bold;
	font-size: 14pt;
}

#productsWindow{
	margin: 5px 0;
	border:1px #a2a2a2 solid;
	border-radius: 7px;
	width: 99%;
}

#reviewWindow{
	margin: 5px 0;
	border:1px #a2a2a2 solid;
	border-radius: 7px;
	width: 99%; height: 140px;
}

#productsTable{
	text-align: center;
	border-collapse: collapse;
	margin: 0 30px;
	border: transparent;
}

.row1Cell{
	padding: 10px 50px;
	cursor: pointer;
}

.row2Cell>p{
	font-size: 12pt;
	cursor: pointer;
}

#profilePhotoDiv{ 
	width: 15em; height: 280px;
	background: #d5d5d5;
}

#profileImg{
	width: 12em; height: 12em;
	border-radius: 50%;
	position: relative;
	left: 1.6em; top: 2em;
	background-color: white;
	cursor: pointer;
}

#profileP{
	font-weight: bold;
	font-size: 13pt;
	margin: 45px auto;
	text-align: center;
	cursor: pointer;
}


#myInfo{
	width: 15em; height: 140px;
	text-align: center;
	background: #d5d5d5;
	padding-bottom: 16px;
}

#infoList{
	padding: 30px 30px;
}

.review{
	margin-top: 2px;
}


.reviewImg{
	width: 45px; height: 45px;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
}

.reviewer{
	font-size: 12.5pt;
	height: 20px;
	overflow: hidden;
	width: 130px;
	cursor: pointer;
}

.reviewContent{
	font-size: 12pt; 
	overflow: hidden;
	height: 20px;
	width: 70%;
}

.reviewContent, .reviewer{
	display: inline-block;
	position: relative;
	top: -20px;
}

.more>a{
	display:block;
	text-align: right;
	color: #818181;
	font-size: 10pt;
	padding-right: 10px;
}

.more>a:link{
	color: #818181;
}

.more>a:visited{
	color: #818181;
}

.more>a:hover{
	color: #818181;
}

#section4:after{
	clear: both;
}