@charset "UTF-8";

#wrap{
	width: 82em; 
	height: 60em;
	margin: 7px auto;
	position: relative;
	color: #363636;
}

#registerBox{
	width: 63em; height: 60em;
/* 	border: 1px solid gray; border-radius: 5px; */
	font-size: 10pt; 
	position: absolute;
	top: 0px; left: 20em;
	margin: 60px auto 0px;
}

.row{
	width: 100%;
	height: 200px;/* 임시  */
}

.blockOdd{
	float: left;
	width:20%;
	text-align: center;
}

.blockEven{
	float:right;
	width:79%;
	text-align: center;
}

#registerBox{
	clear: both;
}

#row0{
	height: 50px;
}


#block1{
	font-size: 20pt; font-weight: bold;
	display: inline-block;
	padding-top: 14px;
}

#block2{
	color: #828282;
	display: inline-block;
	font-size: 10pt;
	float: right;
	padding-top: 20px;
}

#row0:after{
	clear: right;
}

#row0+hr{
	background-color: #fa5c27;
	height: 10px;
	border:none;
}

sup{
	color:red;
	font-size: 12pt; font-weight: bold;
}


#row1{
	height: 50px;
	margin-top: 10px;
}

#block3{}

#block4>form>input{
	width: 38.5em;
	padding: 2px 3px;
	margin: 0;
	height: 20px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
}

#row2{
	height: 34px;
	margin-top: 10px;
}

#block5{}

#block6>form>select{
	width: 43.5em;
	padding: 2px 3px;
	margin-top: 3px;
	height: 28px;
	font-size: 9pt;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
}

#row3{
	height: 50px;
}

#block7{
	position:relative;
	top: 20px;
}

#fileName{
	width: 38.3em;
	height: 24px;
	margin-left: 23px;
	padding-left: 7px;
	border: 1px #a2a2a2 solid;
	font-family: 'Noto Sans KR';
}

#labelDiv{
	background: #fa5c27;
	width: 20px;
	display: inline-block;
	border-radius: 5px;
	padding: 1px;
	cursor: pointer;
}

#labelDiv>label{
	cursor:pointer;
	color: white;
}


#row4{
	height: 130px;
}

#block10{
	width: 61.8%; height: 100px;
	border: 1px #a2a2a2 solid;
	margin: 20px 71px;
	border-radius: 5px;
	text-align: left;
	/* 패딩 있어야 함. */
}

#row5{
	height: 180px;
}

#block12{
	width: 62%;
	margin-right: 70px;
}

#hiddenBox{
	background: #d5d5d5;
	height: 100px;
}

#hiddenBox>form{
	padding: 10px;
}

#openSpanBox{
	background: #d5d5d5;
}

#openSpan{
	font-size: 14pt;
	font-weight: bold;
}

#block11{
	margin-top: 20px;
}

#row6{
	height: 200px;
}

#textArea{
	border: 1px #a2a2a2 solid;
	resize: none;
	padding: 3px;
	font-family: 'Noto Sans KR';
	width: 38.3em;
}

#letterDiv{
	text-align: right;
	margin-right: 70px;
}

#letterSpan{
	color: #818181;
	font-size: 9pt;
}

#row7{
	height: 50px;
}

#row7>form>input{
	padding: 2px 12px;
	font-family: 'Noto Sans KR';
	background: #fa5c27; color: white;
	font-size: 12pt; font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	top: 10px; left: 29em;
}